/* Navbar */
.navbar-brand{
    margin-left: 15%;
}
#navbar-buttons{
    margin-right: 15%;
}
.navigation-links{
    margin-left: 1.5rem;
    color: rgb(190, 190, 190);
    text-decoration: none;
}
.navigation-links:hover{
    color: rgb(241, 241, 241);
}
.navigation-links:focus{
    color: white;
}

/* Main container and jumbotron */
.container{
    margin-left: 50px;
    margin-right: 50px;
}
.jumbotron{
    background-color: rgb(234,236,239);
    margin: 20px;
    padding: 20px;
}

.card{
    display: inline-flex;
    margin: 10px;
    text-align: center;
}

.image-card{
    width: 100%;
    height: 150px;
    background-color: grey;    
}
.card-body{
    padding: 10px;
    margin: 10px;
}

.card-bottom {
    background-color: rgb(245, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn-primary{
    margin:10px;
}
